<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,700&display=swap" rel="stylesheet" />
        <title>Forgot Password</title>
        <style>
            @media screen {
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 100;
                    font-display: swap;
                    src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTucXtAOvWDSHFF.woff2) format('woff2');
                    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
                }
                /* latin-ext */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 100;
                    font-display: swap;
                    src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTufntAOvWDSHFF.woff2) format('woff2');
                    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
                }
                /* latin */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 100;
                    font-display: swap;
                    src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTucHtAOvWDSA.woff2) format('woff2');
                    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                }
                /* devanagari */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 300;
                    font-display: swap;
                    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z11lFd2JQEl8qw.woff2) format('woff2');
                    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
                }
                /* latin-ext */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 300;
                    font-display: swap;
                    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
                    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
                }
                /* latin */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 300;
                    font-display: swap;
                    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
                    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                }
                /* devanagari */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-display: swap;
                    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
                    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
                }
                /* latin-ext */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-display: swap;
                    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
                    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
                }
                /* latin */
                @font-face {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-display: swap;
                    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
                    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                }
            }
            body {
                font-family: 'Poppins';
                font-family: 300;
                background-color: #FFFFFF; padding: 0; margin: 0;
            }
        </style>
    </head>
    <body style="background-color: #FFFFFF; padding: 0; margin: 0;">
        <table border="0" cellpadding="0" cellspacing="10" height="100%" bgcolor="#FFFFFF" width="100%" style="max-width: 650px;" id="bodyTable">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailContainer" style="color: #333333;">
                        <tr>
                            <td align="left" valign="middle" style="padding-bottom: 10px;width: 50px;">
                                <img alt="aurOps" border="0" src="https://ops.iauro.co/assets/iauro_initials.png" title="aurOps" class="sitelogo" style="max-width:250px;" />
                            </td>
                            <td align="left" valign="middle" style="font-size: 20px;font-family: 'Poppins';font-family: 500;">aurOps</td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="2" style="border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC; padding: 20px 0 10px 0;">
                                <span style="font-size: 18px; font-weight: normal;">FORGOT PASSWORD</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="2" style="padding-top: 10px;">
                                <span style="font-size: 12px; line-height: 1.5; color: #333333;">
                                    We have sent you this email in response to your request to reset your password on <%= site_link %>.<br/><br/>
                                    To reset your password for <a href="<%= site_link %>"><%= site_link %></a>, please click the button billow. <br/><br/>
                                    <a style="cursor:pointer;" target="_blank" href = "<%= forgot_password_link %>"><button style="padding: 10px;background-color:#5f81f4;border: 0;color: #FFFFFF;border-radius: 5px;font-family: 'Poppins'; font-weight: 300;cursor:pointer;">Reset Passoword</button></a><br/><br/>
                                    If you are not redirected then please click on the following link: <a href="<%= forgot_password_link %>"><%= forgot_password_link %></a><br/><br/>
                                    aurOps Admin,<br/>
                                    Thank you.
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>